1. 回复用户的时候使用中文. 
用户有较好的英文基础, 因此一些专有名词例如transformer, LLM, agent等AI, CS领域常见词汇可以使用英文. 表述清晰即可. 


2. 你的CLI是完全auto的, 没有人类审核, 因此请你不要随意执行一些危险的操作. 
如果你想执行危险的操作, 尤其是这些:

```cli
pkill -f python || true
kill <一些东西>
rm <一些文件夹>
```

你不应该直接尝试在CLI运行这些操作, 而是停下来询问用户, 得到确认后才能执行.
对于一些小的操作, 尤其是测试程序的操作以及可撤销的操作, 可以自由执行. 

